/*
This text (between the symbols above and below) is a comment.
This is where I can leave a message for you, without affecting my style definitions. 
*/

/*
 This is where I define the width of all of my images and videos.
*/
img{
  width: 50%;
}

video {
  width: 50%;
}

/*
This is where I define the colors of my background, text alignment. 
*/
body{
  background-color: black;
  color: green;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: red;
}

a {
  color: orange;
}

ol {
  text-align: left;
}

p {
  align-items: center;
}

span{
  color: aliceblue
}


/*
The following section has been commented out. 
Uncomment the section by erasing the star-slashes, save and see what happens when you refresh your browser!
The new rules should override the above rules.
*/


/*
body {
  background-image: url("images/backgroundimage.jpg");
  color: white;
  border: solid 3px black;
  text-align: center;
}

h1 {
  font-family: Helvetica;
  color: orange;
  text-transform: uppercase;
}

a {
  color: red;
}
*/





